$body-bg: pink;
$main-font: Arial;

/*$primary-color: #008080;
$secondary-color: #08a1a1;
$light-color: #f4f4f4;
$dark-color: #333;*/

$primary-color: red;
$secondary-color: black;
$light-color: pink;
$dark-color: grey;

$container: 960px;
$section-padding: 20px;